In [89]:
import json
import pandas as pd
import os
from sqlalchemy import create_engine
import boto3
from datetime import datetime, timedelta
import numpy as np

## Read data

In [90]:
with open("daily_auctions/2023-04-25.json") as file:
    data = json.load(file)

In [91]:
auctions = []
for key in data.keys():
    auctions.append(data[key])

## Transform

In [92]:
# add url 
for key in data.keys():
    data[key].update({'url':key})
    
df = pd.json_normalize(auctions)
df.head()

,auction_title,auction_subtitle,dougs_take,auction_highlights,auction_equipment,modifications,known_flaws,services,included_items,ownership_history,...,auction_quick_facts.Exterior Color,auction_quick_facts.Interior Color,auction_quick_facts.Seller Type,auction_stats.reserve_status,auction_stats.auction_status,auction_stats.highest_bid_value,auction_stats.auction_date,auction_stats.view_count,auction_stats.bid_count,auction_stats.bids
0,2013 Subaru BRZ Limited,"NO RESERVE 1 Owner, 6-Speed Manual, Turbocharg...",The Subaru BRZ is a compact sports car that of...,[This BRZ is equipped with the desirable 6-spe...,"[Torsen limited-slip differential, HID headlig...","[AVO Stage 2 turbocharger kit, ECS Performance...",[Although the Carfax history report indicates ...,"[February 2022 (42,465 miles): Cabin air filte...","[2 keys, Owner's manual, Window sticker, Some ...",The seller purchased this BRZ new in May 2014.,...,Dark Gray Metallic,Black,Private Party,No reserve,Sold to,"$23,250","Apr 25, 2023 11:34 PM","7,696",52,"[$23,250, $23,000, $22,750, $22,500, $22,250, ..."
1,2018 Ford F-150 Raptor,"Numerous Overlanding Modifications, Green Wrap...",What a cool build! This Ford F-150 Raptor feat...,[The attached Carfax history report lists no a...,"[Equipment Group 802A (Raptor Series, power-sl...","[Aftermarket parts in the exhaust system, Deav...","[Exterior chips, scratches, and scuffs (shown ...","[September 2022 (63,705 miles): Engine oil and...","[2 keys, Owner's manual, Window sticker, Servi...",The seller purchased this Raptor in March 2021.,...,Oxford White,Black,Private Party,Reserve,"Reserve not met, bid to","$49,000","Apr 25, 2023 11:34 PM","9,282",26,"[$49,000, $48,000, $47,000, $45,250, $45,000, ..."
2,2023 Rivian R1S Launch Edition,"Quad-Motor AWD, Large Battery Pack, Ocean Coas...",The Rivian R1S is a seriously impressive elect...,[The attached Carfax history report lists no a...,"[20-inch All-Terrain Bright wheels, Large batt...",[],[],[],"[1 wristband key, 1 key fob, and 2 key cards, ...",The seller purchased this Rivian when new in M...,...,Forest Green,Ocean Coast,Private Party,Reserve,Sold to,"$97,504","Apr 25, 2023 11:25 PM","7,716",41,"[$97,504, $97,000, $95,503, $95,002, $94,501, ..."
3,2004 Lexus GS 300,"NO RESERVE Millenium Silver, 2JZ 6-Cylinder, M...",The Lexus GS is a fantastic sedan that was sur...,[The attached Carfax history report shows no a...,"[Preferred Accessory Package (trunk mat, cargo...","[Aftermarket tail lights, Stick-on spot mirror...","[Rock chips on forward facing surfaces, Scuff ...",[],"[1 key, Owner's manual]",The seller purchased this Lexus in January 202...,...,Millennium Silver,Black,Private Party,No reserve,Sold to,"$10,000","Apr 25, 2023 11:13 PM","6,606",32,"[$10,000, $9,500, $8,900, $8,500, $8,000, $7,8..."
4,2021 Mercedes-AMG G63,"~5,500 Miles, Twin-Turbo V8, 4WD, South Sea Bl...",Now this is a beautiful Mercedes-AMG G63! It's...,[This G63 is a Canadian-spec vehicle that's ti...,"[AMG Night Package (Night Package, AMG radiato...",[20-inch Mercedes-AMG wheels with Michelin Pil...,[Scuffs on footwell plastic trim],[],"[2 keys, Owner's manuals, Factory 22-inch matt...",The seller purchased this G63 new in June 2021.,...,South Sea Blue,Platinum White/Black,Private Party,Reserve,"Reserve not met, bid to","$165,000","Apr 25, 2023 11:04 PM","10,349",10,"[$165,000, $155,000, $145,000, $142,000, $141,..."

In [93]:
df.columns

Index(['auction_title', 'auction_subtitle', 'dougs_take', 'auction_highlights',
       'auction_equipment', 'modifications', 'known_flaws', 'services',
       'included_items', 'ownership_history', 'url',
       'auction_quick_facts.Make', 'auction_quick_facts.Model',
       'auction_quick_facts.Mileage', 'auction_quick_facts.VIN',
       'auction_quick_facts.Title Status', 'auction_quick_facts.Location',
       'auction_quick_facts.Seller', 'auction_quick_facts.Engine',
       'auction_quick_facts.Drivetrain', 'auction_quick_facts.Transmission',
       'auction_quick_facts.Body Style', 'auction_quick_facts.Exterior Color',
       'auction_quick_facts.Interior Color', 'auction_quick_facts.Seller Type',
       'auction_stats.reserve_status', 'auction_stats.auction_status',
       'auction_stats.highest_bid_value', 'auction_stats.auction_date',
       'auction_stats.view_count', 'auction_stats.bid_count',
       'auction_stats.bids'],
      dtype='object')

In [94]:
# add auction_id (from the url)
df["auction_id"] = df['url'].str.split("/").str[-2]

In [95]:
# remove the newline character ("\n")

df["auction_quick_facts.Model"] = df["auction_quick_facts.Model"].str.replace("\nSave",'')
df["auction_quick_facts.Model"].values

array(['BRZ', 'F-150 Raptor', 'R1S', 'GS 300', 'G63 AMG', 'S600',
       'Land Cruiser', 'Mustang', '335i', 'Minicab', 'Range Rover Sport',
       '330Ci', 'Giulia', 'X5', 'GX 460', '318i', 'Wrangler', 'Q45',
       'Land Cruiser', 'Tacoma', 'SS', 'Acty', 'M4', '528i', 'Fiesta ST',
       'Grand Wagoneer', 'AMG GT', 'Mazdaspeed 6', 'M3', 'M5',
       'MX-5 Miata', 'Model 3', 'CLK350', 'Mustang', 'LX 470', 'Golf R',
       'CL500', '335i', 'XF', 'Land Cruiser', '500 Abarth', 'S65 AMG',
       'TTS', '540i', '4Runner', 'Macan', 'H2', 'M4', 'HHR', 'Mini',
       'Challenger', 'RS 6'], dtype=object)

In [96]:
# fix 'sold to' to 'sold', and 'reserve not met, bid to' to 'reserve not met'

df["auction_stats.auction_status"] = df["auction_stats.auction_status"].str.replace('Reserve not met, bid to','Reserve not met')
df["auction_stats.auction_status"] = df["auction_stats.auction_status"].str.replace('Sold to','Sold')
df["auction_stats.auction_status"].values

array(['Sold', 'Reserve not met', 'Sold', 'Sold', 'Reserve not met',
       'Sold', 'Sold', 'Sold', 'Sold', 'Sold', 'Reserve not met', 'Sold',
       'Sold', 'Sold', 'Reserve not met', 'Sold', 'Sold', 'Sold', 'Sold',
       'Sold', 'Sold', 'Sold', 'Sold', 'Sold', 'Sold', 'Sold', 'Sold',
       'Sold', 'Sold', 'Sold', 'Sold', 'Sold', 'Sold', 'Sold', 'Sold',
       'Sold', 'Sold', 'Sold', 'Reserve not met', 'Sold', 'Sold',
       'Reserve not met', 'Sold', 'Sold', 'Reserve not met', 'Sold',
       'Sold', 'Reserve not met', 'Sold', 'Sold', 'Sold', 'Sold'],
      dtype=object)

In [97]:
df.columns

Index(['auction_title', 'auction_subtitle', 'dougs_take', 'auction_highlights',
       'auction_equipment', 'modifications', 'known_flaws', 'services',
       'included_items', 'ownership_history', 'url',
       'auction_quick_facts.Make', 'auction_quick_facts.Model',
       'auction_quick_facts.Mileage', 'auction_quick_facts.VIN',
       'auction_quick_facts.Title Status', 'auction_quick_facts.Location',
       'auction_quick_facts.Seller', 'auction_quick_facts.Engine',
       'auction_quick_facts.Drivetrain', 'auction_quick_facts.Transmission',
       'auction_quick_facts.Body Style', 'auction_quick_facts.Exterior Color',
       'auction_quick_facts.Interior Color', 'auction_quick_facts.Seller Type',
       'auction_stats.reserve_status', 'auction_stats.auction_status',
       'auction_stats.highest_bid_value', 'auction_stats.auction_date',
       'auction_stats.view_count', 'auction_stats.bid_count',
       'auction_stats.bids', 'auction_id'],
      dtype='object')

In [98]:
#  rename and rearrange columns
if 'auction_stats.view_count' in df.columns:
    df.rename(columns={
        'auction_title':'title',
        'auction_subtitle':'subtitle',
        'auction_equipment':'equipment',
        'known_flaws':'flaws',
        'auction_quick_facts.Make':'make',
        'auction_quick_facts.Model':'model',
        'auction_quick_facts.Mileage':'mileage',
        'auction_quick_facts.VIN':'vin',
        'auction_quick_facts.Title Status':'title_status',
        'auction_quick_facts.Location':'location',
        'auction_quick_facts.Seller':'seller',
        'auction_quick_facts.Engine':'engine',
        'auction_quick_facts.Drivetrain':'drivetrain',
        'auction_quick_facts.Transmission':'transmission',
        'auction_quick_facts.Body Style':'body_style',
        'auction_quick_facts.Exterior Color':'exterior_color',
        'auction_quick_facts.Interior Color':'interior_color',
        'auction_quick_facts.Seller Type':'seller_type',
        'auction_stats.reserve_status':'reserve_status',
        'auction_stats.auction_status':'auction_status',
        'auction_stats.highest_bid_value':'highest_bid',
        'auction_stats.auction_date':'auction_date',
        'auction_stats.view_count':'view_count',
        'auction_stats.bid_count':'bid_count',
        'auction_stats.bids':'bids'   
    }, inplace=True)

    cols_order = [
        'auction_id','title', 'subtitle',
        'make', 'model', 'mileage', 'vin','engine', 'drivetrain','transmission', 'body_style', 'exterior_color', 'interior_color',
        'title_status', 'location', 'seller','seller_type', 'reserve_status', 'auction_status', 'auction_date',
        'view_count', 'bid_count','highest_bid','bids',
        'auction_highlights', 'equipment','modifications', 'flaws', 'services', 'included_items','ownership_history',
        'dougs_take', 'url', 
    ]

    df = df[cols_order]
else:
    df.rename(columns={
        'auction_title':'title',
        'auction_subtitle':'subtitle',
        'auction_equipment':'equipment',
        'known_flaws':'flaws',
        'auction_quick_facts.Make':'make',
        'auction_quick_facts.Model':'model',
        'auction_quick_facts.Mileage':'mileage',
        'auction_quick_facts.VIN':'vin',
        'auction_quick_facts.Title Status':'title_status',
        'auction_quick_facts.Location':'location',
        'auction_quick_facts.Seller':'seller',
        'auction_quick_facts.Engine':'engine',
        'auction_quick_facts.Drivetrain':'drivetrain',
        'auction_quick_facts.Transmission':'transmission',
        'auction_quick_facts.Body Style':'body_style',
        'auction_quick_facts.Exterior Color':'exterior_color',
        'auction_quick_facts.Interior Color':'interior_color',
        'auction_quick_facts.Seller Type':'seller_type',
        'auction_stats.reserve_status':'reserve_status',
        'auction_stats.auction_status':'auction_status',
        'auction_stats.highest_bid_value':'highest_bid',
        'auction_stats.auction_date':'auction_date',
#         'auction_stats.view_count':'view_count',
        'auction_stats.bid_count':'bid_count',
        'auction_stats.bids':'bids'   
    }, inplace=True)

    cols_order = [
        'auction_id','title', 'subtitle',
        'make', 'model', 'mileage', 'vin','engine', 'drivetrain','transmission', 'body_style', 'exterior_color', 'interior_color',
        'title_status', 'location', 'seller','seller_type', 'reserve_status', 'auction_status', 'auction_date',
        'bid_count','highest_bid','bids',
        'auction_highlights', 'equipment','modifications', 'flaws', 'services', 'included_items','ownership_history',
        'dougs_take', 'url', 
    ]

    df = df[cols_order]
        
df.head()

,auction_id,title,subtitle,make,model,mileage,vin,engine,drivetrain,transmission,...,bids,auction_highlights,equipment,modifications,flaws,services,included_items,ownership_history,dougs_take,url
0,rx18mkXV,2013 Subaru BRZ Limited,"NO RESERVE 1 Owner, 6-Speed Manual, Turbocharg...",Subaru,BRZ,"43,400",JF1ZCAC10D1612763,2.0L Turbocharged Flat-4,Rear-wheel drive,Manual (6-Speed),...,"[$23,250, $23,000, $22,750, $22,500, $22,250, ...",[This BRZ is equipped with the desirable 6-spe...,"[Torsen limited-slip differential, HID headlig...","[AVO Stage 2 turbocharger kit, ECS Performance...",[Although the Carfax history report indicates ...,"[February 2022 (42,465 miles): Cabin air filte...","[2 keys, Owner's manual, Window sticker, Some ...",The seller purchased this BRZ new in May 2014.,The Subaru BRZ is a compact sports car that of...,https://carsandbids.com/auctions/rx18mkXV/2013...
1,3oRz6gDg,2018 Ford F-150 Raptor,"Numerous Overlanding Modifications, Green Wrap...",Ford,F-150 Raptor,"67,000",1FTFW1RGXJFB72050,3.5L Turbocharged V6,4WD/AWD,Automatic (10-Speed),...,"[$49,000, $48,000, $47,000, $45,250, $45,000, ...",[The attached Carfax history report lists no a...,"[Equipment Group 802A (Raptor Series, power-sl...","[Aftermarket parts in the exhaust system, Deav...","[Exterior chips, scratches, and scuffs (shown ...","[September 2022 (63,705 miles): Engine oil and...","[2 keys, Owner's manual, Window sticker, Servi...",The seller purchased this Raptor in March 2021.,What a cool build! This Ford F-150 Raptor feat...,https://carsandbids.com/auctions/3oRz6gDg/2018...
2,r4pXlERn,2023 Rivian R1S Launch Edition,"Quad-Motor AWD, Large Battery Pack, Ocean Coas...",Rivian,R1S,60,7PDSGABL5PN006657,Quad Electric Motors,4WD/AWD,Automatic,...,"[$97,504, $97,000, $95,503, $95,002, $94,501, ...",[The attached Carfax history report lists no a...,"[20-inch All-Terrain Bright wheels, Large batt...",[],[],[],"[1 wristband key, 1 key fob, and 2 key cards, ...",The seller purchased this Rivian when new in M...,The Rivian R1S is a seriously impressive elect...,https://carsandbids.com/auctions/r4pXlERn/2023...
3,KPdGn6mk,2004 Lexus GS 300,"NO RESERVE Millenium Silver, 2JZ 6-Cylinder, M...",Lexus,GS 300,"66,500",JT8BD69S340199571,3.0L I6,Rear-wheel drive,Automatic (5-Speed),...,"[$10,000, $9,500, $8,900, $8,500, $8,000, $7,8...",[The attached Carfax history report shows no a...,"[Preferred Accessory Package (trunk mat, cargo...","[Aftermarket tail lights, Stick-on spot mirror...","[Rock chips on forward facing surfaces, Scuff ...",[],"[1 key, Owner's manual]",The seller purchased this Lexus in January 202...,The Lexus GS is a fantastic sedan that was sur...,https://carsandbids.com/auctions/KPdGn6mk/2004...
4,Kmgx5be9,2021 Mercedes-AMG G63,"~5,500 Miles, Twin-Turbo V8, 4WD, South Sea Bl...",Mercedes-Benz,G63 AMG,"5,500",W1NYC7HJ3MX399265,4.0L Turbocharged V8,4WD/AWD,Automatic (9-Speed),...,"[$165,000, $155,000, $145,000, $142,000, $141,...",[This G63 is a Canadian-spec vehicle that's ti...,"[AMG Night Package (Night Package, AMG radiato...",[20-inch Mercedes-AMG wheels with Michelin Pil...,[Scuffs on footwell plastic trim],[],"[2 keys, Owner's manuals, Factory 22-inch matt...",The seller purchased this G63 new in June 2021.,Now this is a beautiful Mercedes-AMG G63! It's...,https://carsandbids.com/auctions/Kmgx5be9/2021...

In [99]:
df1 = df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   auction_id          52 non-null     object
 1   title               52 non-null     object
 2   subtitle            52 non-null     object
 3   make                52 non-null     object
 4   model               52 non-null     object
 5   mileage             52 non-null     object
 6   vin                 52 non-null     object
 7   engine              52 non-null     object
 8   drivetrain          52 non-null     object
 9   transmission        52 non-null     object
 10  body_style          52 non-null     object
 11  exterior_color      52 non-null     object
 12  interior_color      52 non-null     object
 13  title_status        52 non-null     object
 14  location            52 non-null     object
 15  seller              52 non-null     object
 16  seller_type         52 non-null     object
 17  reserve_status      52 non-null     object
 18  auction_status      52 non-null     object
 19  auction_date        52 non-null     object
 20  view_count          52 non-null     object
 21  bid_count           52 non-null     object
 22  highest_bid         52 non-null     object
 23  bids                52 non-null     object
 24  auction_highlights  52 non-null     object
 25  equipment           52 non-null     object
 26  modifications       52 non-null     object
 27  flaws               52 non-null     object
 28  services            52 non-null     object
 29  included_items      52 non-null     object
 30  ownership_history   52 non-null     object
 31  dougs_take          52 non-null     object
 32  url                 52 non-null     object
dtypes: object(33)
memory usage: 13.5+ KB

In [100]:
# change bid_count, view_count & highest_bid to int

df['bid_count'] = df['bid_count'].fillna(0).astype(int)

if 'view_count' in df.columns:
    df['view_count'] = df['view_count'].str.replace('[^\d]', '', regex=True)
    df['view_count'] = df['view_count'].fillna(0).astype(int)
    
df['highest_bid'] = df['highest_bid'].str.replace("$",'')
df['highest_bid'] = df['highest_bid'].str.replace(",",'')
df['highest_bid'] = df['highest_bid'].fillna(0).astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   auction_id          52 non-null     object
 1   title               52 non-null     object
 2   subtitle            52 non-null     object
 3   make                52 non-null     object
 4   model               52 non-null     object
 5   mileage             52 non-null     object
 6   vin                 52 non-null     object
 7   engine              52 non-null     object
 8   drivetrain          52 non-null     object
 9   transmission        52 non-null     object
 10  body_style          52 non-null     object
 11  exterior_color      52 non-null     object
 12  interior_color      52 non-null     object
 13  title_status        52 non-null     object
 14  location            52 non-null     object
 15  seller              52 non-null     object
 16  seller_type         52 non-null     object
 17  reserve_status      52 non-null     object
 18  auction_status      52 non-null     object
 19  auction_date        52 non-null     object
 20  view_count          52 non-null     int64
 21  bid_count           52 non-null     int64
 22  highest_bid         52 non-null     int64
 23  bids                52 non-null     object
 24  auction_highlights  52 non-null     object
 25  equipment           52 non-null     object
 26  modifications       52 non-null     object
 27  flaws               52 non-null     object
 28  services            52 non-null     object
 29  included_items      52 non-null     object
 30  ownership_history   52 non-null     object
 31  dougs_take          52 non-null     object
 32  url                 52 non-null     object
dtypes: int64(3), object(30)
memory usage: 13.5+ KB

In [101]:
df[['auction_id','bid_count','highest_bid']].sort_values(by='highest_bid')

   auction_id  bid_count  highest_bid
48   3ojMpYxv         25         4969
15   KV2LJm6K         21         5100
23   9WdZk8DR         16         5150
17   3zqRmWYj         23         6700
9    3LG2jbv0         32         6800
40   rGWO045N          5         7500
36   KP7GwkNQ         32         7520
21   KdAJ2ol5         25         7675
11   3vWGZ7jd         15         9000
49   9A6N6xPw         27         9659
3    KPdGn6mk         32        10000
5    36gDZqAz         13        10001
30   3pj17Xy6         30        10100
34   9nY18geX         28        10700
32   30nBvRaR         37        10700
19   KVmjbOBP         25        10708
13   K1Bm0RB2         42        12000
44   36P4OGZr         27        12500
14   rNdB54Qb         31        13000
37   rwBaeG8Z         30        13700
7    3yYWlJ2o         32        14500
27   rboOajzL         29        15000
24   9nxBXPJK         39        15001
6    3RpBaWG1         33        15500
39   rx2klqAW         25        15600
46   rNQMk2O5         19        16500
8    3LM8ADzV         42        17000
43   3OaDd58y         40        17239
41   rJA71wMO         20        19000
28   35RjPG0Z         22        19500
35   rEv6popP         59        20500
45   rMLqLg4a         28        22000
38   3g4d55ao         39        23000
0    rx18mkXV         52        23250
25   KPZ4vz2L         63        26000
18   9leQwOjz         41        26000
31   r4VvG1QP         35        28500
16   rJ6JB1NE         21        29000
42   9Qx7EQVY         61        30000
20   rEvza8Bk         34        33000
10   9ekMz2Yy         38        36250
22   KDvgn55a          2        37250
50   3qB7PZaE         54        39000
12   rkEzGlLl         23        44400
1    3oRz6gDg         26        49000
33   3BvLaQZA         33        50000
47   35W6QPWE         11        79000
29   9a4GXmPG         12        90000
2    r4pXlERn         41        97504
26   rwWP2kzM         54       110000
51   3ggpndO8         34       123000
4    Kmgx5be9         10       165000

In [102]:
# convert auction_date to datetimme
df['auction_date'] = df['auction_date'].fillna(0)
df['auction_date'] = pd.to_datetime(df['auction_date'].str.strip(), format="%d")

In [103]:
# convert mileage to int
df['mileage'] = df['mileage'].str.replace('[^\d]', '', regex=True)
df['mileage'] = df['mileage'].replace('', np.nan)
df['mileage'] = pd.to_numeric(df['mileage'], errors='coerce')

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   auction_id          52 non-null     object
 1   title               52 non-null     object
 2   subtitle            52 non-null     object
 3   make                52 non-null     object
 4   model               52 non-null     object
 5   mileage             52 non-null     int64
 6   vin                 52 non-null     object
 7   engine              52 non-null     object
 8   drivetrain          52 non-null     object
 9   transmission        52 non-null     object
 10  body_style          52 non-null     object
 11  exterior_color      52 non-null     object
 12  interior_color      52 non-null     object
 13  title_status        52 non-null     object
 14  location            52 non-null     object
 15  seller              52 non-null     object
 16  seller_type         52 non-null     object
 17  reserve_status      52 non-null     object
 18  auction_status      52 non-null     object
 19  auction_date        52 non-null     datetime64[ns]
 20  view_count          52 non-null     int64
 21  bid_count           52 non-null     int64
 22  highest_bid         52 non-null     int64
 23  bids                52 non-null     object
 24  auction_highlights  52 non-null     object
 25  equipment           52 non-null     object
 26  modifications       52 non-null     object
 27  flaws               52 non-null     object
 28  services            52 non-null     object
 29  included_items      52 non-null     object
 30  ownership_history   52 non-null     object
 31  dougs_take          52 non-null     object
 32  url                 52 non-null     object
dtypes: datetime64[ns](1), int64(4), object(28)
memory usage: 13.5+ KB

# Load

In [105]:
## load to postgresql
db_username = os.environ['DB_USERNAME_1']
db_password = os.environ['DB_PASSWORD_1']
conn_string = f"postgresql://{db_username}:{db_password}@localhost:5432/carsandbids"
engine = create_engine(conn_string)

df.to_sql('test',engine, index=False, if_exists='replace')

In [106]:
## save to local storage
saving_date =  datetime.today().date() - timedelta(days=1)

df.to_json(f"auction_data/{saving_date}.json", orient='records',indent=4)
df['url'].to_csv(f"auction_data/{saving_date}.csv")

In [107]:
# ## load to s3
# # access keys
# aws_access_key_id = os.environ['ACCESS_KEY_ID']
# aws_secret_access_key = os.environ['SECRET_ACCESS_KEY']
# cars_and_bids_topicarn = os.environ['CARS_AND_BIDS_TOPICARN']




# saving_date =  datetime.today().date() - timedelta(days=1)
# # s3
# s3 = boto3.client(
#     's3',
#     region_name = 'us-east-1',
#     aws_access_key_id = aws_access_key_id,
#     aws_secret_access_key = aws_secret_access_key
# )
# # sns
# sns = boto3.client(
#     'sns',
#     region_name = 'us-east-1',
#     aws_access_key_id = aws_access_key_id,
#     aws_secret_access_key = aws_secret_access_key
# )


# s3.upload_file(
#     Filename = f"auction_data/{saving_date}.json",
#     Bucket = 'carsandbids-test',
#     Key = f"{saving_date}.json"
# )

# s3.upload_file(
#     Filename = f"auction_data/{saving_date}.json",
#     Bucket = 'carsandbids-test',
#     Key = f"{saving_date}.csv"
# )

In [108]:
df.columns

Index(['auction_id', 'title', 'subtitle', 'make', 'model', 'mileage', 'vin',
       'engine', 'drivetrain', 'transmission', 'body_style', 'exterior_color',
       'interior_color', 'title_status', 'location', 'seller', 'seller_type',
       'reserve_status', 'auction_status', 'auction_date', 'view_count',
       'bid_count', 'highest_bid', 'bids', 'auction_highlights', 'equipment',
       'modifications', 'flaws', 'services', 'included_items',
       'ownership_history', 'dougs_take', 'url'],
      dtype='object')